extends layout

block content
  section.jumbotron.text-center
    .container
      h1 Welcome #{firstName ? firstName : 'Alumni'}
        p.lead.text-muted Be a part of our vibrant community. 
        p.lead.text-muted Explore upcoming events, training sessions, and opportunities to reconnect with fellow alumni.