extends layout

block content
  section.jumbotron.text-center
    .container
      h1 Login Form
      // Check for error message and display it
      if error
        p.error-message(style='color: red;')= error

      form(action='/login', method='POST')
        .form-group
          label(for='userName') Username:
          input.form-control(type='username', id='userName', name='userName', required)

        .form-group
          label(for='password') Password:
          input.form-control(type='password', id='password', name='password', required)

        button.btn.btn-primary(type='submit') Login