extends layout

block content
  section.jumbotron.text-center
    .container
      h1 News
      ul.Article-list.list-unstyled.row.justify-content-between
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 1
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 2
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 3
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 4
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 5
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 6
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 7
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 8
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 9
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 10
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 11
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 12
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 13
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 14
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.
        li.col-lg-3.col-md-4.col-sm-6.mt-3
            H5 Article 15
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.