extends layout

block content
  section.sponsor-list.text-center
    .container
      h1 Thank You Sponsors!
      ul.sponsor-list.list-unstyled.row.justify-content-between
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 1
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 2
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 3
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 4
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 5
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 6
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 7
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 8
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 9
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 10
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 11
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 12
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 13
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 14
        li.col-lg-3.col-md-4.col-sm-6.mt-3
          a(href='about:blank', target='_blank')
            img.img-fluid(src='images/logo.jpg', alt='Logo', width='100')
            p Sponsor 15