extends layout

block content
  section.jumbotron.text-center
    .container
      h1 Terms and Conditions
      ul.Article-list.list-unstyled.row.justify-content-between
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus et augue condimentum, vitae tempor justo consectetur. Integer nec justo id arcu bibendum cursus. Nulla facilisi. Vestibulum malesuada est id velit ullamcorper, a finibus velit sagittis. Quisque non enim eu mauris pretium hendrerit. Cras nec viverra dolor. Aliquam in erat et eros blandit tincidunt. Vivamus nec commodo libero. Integer in lectus tortor. Phasellus scelerisque leo non sapien rhoncus dignissim. Sed sit amet lectus nec est malesuada gravida.